
   <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom">
        <div class="container">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
                  <li><a routerLink="/about" routerLinkActive="active">About</a></li>
                  <li><a routerLink="/services" routerLinkActive="active">services</a></li>
                  <li><a routerLink="/product" routerLinkActive="active">product</a></li>
                  <li><a routerLink="/contact" routerLinkActive="active">contact</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

<nav>
 
</nav>
