<h1 [style.color]="isTrue ? 'green' :'red'">Child Component</h1>
{{getData}} ==== 
{{getData1}}
<h2 [ngClass] = "isTrue ? 'green' : 'red'" >Sunt aut facere repellat provident occaecati excepturi optio reprehenderit</h2>
<h1>--------------------------</h1>

{{inputValue}} <br/>
<input type="text" #firstText>
<button (click)="getText(firstText.value)">Click</button>
<div>
  <div *ngFor="let data of userserviceResultList">
   <h2>{{data.name}}</h2> 
    <p>{{data.email}}</p>
    <p><a href="http://www.{{data.website}}">{{data.website}}</a></p><br/>
  </div>
</div>

<div>
  <h1>Post results</h1>
    <div *ngFor="let data of postserviceResultList let i = index">
       <ng-container *ngIf=" i >= 5 && i < 10">
        <h3>{{i + 1}} . {{data.title}}</h3> 
        <p>{{data.body}}</p> 
       </ng-container>
    </div>
</div>


<div>
  <h1>user ID Result</h1>
  <div *ngFor="let employee of userIDResultList let i = index">
   <p><b>User Id</b>{{i +100}} {{employee.userId}}</p>
   <p><b>id</b> {{employee.id}}</p>
   <p><b>Employee Job Title</b> {{employee.title}}</p>
   <p><b>Employee Details</b> {{employee.body}}</p>
   <p>---------------------------------------------------------------------------------------------</p>
</div>

</div>


